<nav id="kie_header">
  <div class="wrapper">
    <div class="logo"></div>
    <h1>KIE</h1>
    <a href="http://blog.kie.org">Blog</a>
    <a href="https://kogito.kie.org">Kogito</a>
    <a href="http://www.drools.org">Drools</a>
    <a href="http://www.jbpm.org/">jBPM</a>
    <a href="http://www.optaplanner.org">Optaplanner</a>
    <a href="#" id="responsive_menu_button">&#9776;</a>
    <ul id=responsive_menu>
      <li><a href="http://blog.kie.org">Blog</a></li>
      <li><a href="https://kogito.kie.org">Kogito</a></li>
      <li><a href="http://www.drools.org">Drools</a></li>
      <li><a href="http://www.jbpm.org/">jBPM</a></li>
      <li><a href="http://www.optaplanner.org">Optaplanner</a></li>
    </ul>
  </div>
</nav>

<script type="text/javascript">
  $("#responsive_menu_button").click(function() {
    $("#kie_header").toggleClass("responsive-menu-opened");
    return false;
  });
</script>
